bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.Reactivities/.idea/workspace.xml
.idea/.idea.Reactivities/.idea/misc.xml
.idea/.idea.Reactivities/.idea/dataSources.local.xml
.idea/.idea.Reactivities/.idea/workspace.xml
.idea/.idea.Reactivities/.idea/dataSources/f37f4986-a6aa-414c-a059-c4471166b14d.xml
.idea/.idea.Reactivities/.idea/workspace.xml
API/reactivities.db-shm
API/reactivities.db-wal
